*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 7rem);
  grid-template-rows: 11rem 2rem 11rem;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-size: 3rem;
  border-radius: 0.5rem;
  color: #fff;

  padding: 3rem 0;
}

.deck,
.card-slot,
.text {
  user-select: none;
}

.computer-deck {
  background-color: green;
}

.player-deck {
  background-color: blue;
}

.text {
  grid-column: span 2;
}

.text,
.deck,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 4rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: 0.5rem;
  left: 0.5rem;
}

.card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}
